<!DOCTYPE html>
<html>
    <head>
        <title>Dream Broker Challenge</title>
    </head>

    <body>
        <form method="POST" action="/process" enctype="multipart/form-data">
            <input type="file" name="video" accept="video/*"><br><br>
            <input type="submit">
        </form>
    </body>
</html>